@{
    Address address = (Address)TempData["Address"];
}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Checkout</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">E-Commerce</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout Address</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW-1 OPEN -->
                <div class="offset-xl-2 col-xl-8 col-md-12">
                    <div class="card cart">
                        <div class="card-header">
                            <h3 class="card-title">Address</h3>
                        </div>
                        <div class="card-body">
                            <div class="">
                            <h4 class="fw-semibold">@address.Country, @address.City</h4>
                                <p>Stree: @address.StreetName </p>
                                <p>Building Number: @address.UnitNumber</p>
                                <P>Postal Code: @address.PostalCode</P>
                                <p class="mb-0">Phone Number: +125 254 3562 </p>
                            </div>
                        </div>
                    <div class="card-footer">
                        <a asp-controller="Checkout" asp-action="OrderDetails" class="btn btn-lg btn-primary">Deliver to this Address</a>
                            <span class="offset-xl-5"></span>
                        <a asp-controller="Checkout" asp-action="NewAddress" class="btn btn-lg btn-secondary">New Address</a>
                    </div>
                 
                    </div>
                </div>
            

            <!-- ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->

    </div>
</div>
<!--app-content closed-->